<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Review</legend>
    {{> reviews-form}}
  </fieldset>

  <!-- Button -->
  <p>
    <button type="submit">Save Review</button>
  </p>
</form>
